.sign-container {
  width: 100%;
  z-index: 1;
}

.sign {
  visibility: hidden;
  font-size: 40px;
  position: absolute;
  left: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  font-family: 'Indie Flower', cursive;
}
